<% provide(:title, "About") %>
<h1>About</h1>
<p>Welcome to Sara's Book Database!</p>

<p>This is a catalogue of books in Sara's personal library. To make it easier for
her to keep track of the books she lends out, she took the time to create this
database to keep track of it all!</p>

<p>Feel free to request a book to borrow and enjoy!</p>

<p>Happy Reading!</p>

<h2>
  <%= link_to "Back", root_url, class: "btn btn-info", role: "button" %>
</h2>
