<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>Please don't really contact me.</p>

<p>I don't actually know what I'm doing.</p>

<h2>
  <%= link_to "Back", root_url, class: "btn btn-info", role: "button" %>
</h2>
