<% provide(:title, "Help") %>
<h1>Help</h1>

<p>You should be able to just hit a button that says 'Borrow' and submit a request.</p>

<p>If it doesn't work, I don't know what to tell you.</p>

<p>So, really, there just isn't any help to be had. I mean, don't we all need a
help? There's only so much we can do about all that.</p>

<h2>
  <%= link_to "Back", root_url, class: "btn btn-info", role: "button" %>
</h2>
