<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info"
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <ul class="checkout">
        <% @user.books.each do |book| %>
          <%= link_to book.title, book %>
            <% if current_user.admin? && !current_user?(book) %>
              <%= link_to "Return", checkout_path, method: :delete,
                                    data: {confirm: "You sure?"},
                                    class: "btn btn-danger btn-sm" %>
            <% end %>
        <% end %>
      </ul>
    </section>
  </aside>
</div>
